@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.loggedUser</h1>
    @if (ViewBag.loggedUser != null && ViewBag.loggedUser != "admin")
    {
        <br /><br />
        <button formaction="" style="height:200px;width:300px; font-size:3em" class="btn-primary">Press</button>
    }
</div>
 